{% extends "layout.html" %}
{% block content %}
{% load widget_tweaks %}
    <div class="col-md-12 col-lg-6 offset-md-3">
        <div class="list-group">
            <form method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {% render_field field class="form-control my-2" placeholder=field.label %}
                        {% for error in field.errors %}
                            <span class="help-block text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="d-grid gap-2 my-2">
                    <a href="/warehouse/delete/{{object.id}}" class="btn btn-danger">Удалить склад</a>
                </div>
                <div class="d-grid gap-2 my-2">
                    <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
