{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12 col-lg-12 justify-content-center">
      <div class="wrapper">
          <div class="text-center">
              <i class="fas fa-unlock-alt m-4" style="font-size: 60px;"></i>
          </div>

          <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="text-danger">{{ error|escape }}</div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="text-danger">{{ error|escape }}</div>
              {% endfor %}
            {% endif %}
            <input type="text" id="login" class="form-control my-2" name="username" placeholder="Логин">
            <input type="password" id="password" class="form-control my-2" name="password" placeholder="Пароль">
            <div class="d-grid gap-2 my-2">
              <input type="submit" class="btn btn-primary btn-block text-white" value="Войти">
            </div>
            <div class="text-center my-2">
                <a class="underlineHover" href="#">Забыли пароль?</a>
            </div>
          </form>
      </div>
    </div>
{% endblock %}
