{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12 col-lg-6 offset-md-3">
        <div class="list-group">
            <a href="/staff/" class="my-2 btn btn-primary" aria-current="true">Сотрудники</a>
            <a href="/equipment/" class="my-2 btn btn-primary" aria-current="true">Оборудование</a>
            <a href="/warehouse/" class="my-2 btn btn-primary" aria-current="true">Склад</a>
            <a href="/producers/" class="my-2 btn btn-primary" aria-current="true">Производители</a>
            <a href="/requests/" class="my-2 btn btn-primary" aria-current="true">Список заявок</a>
            <a href="/qr/scan" class="my-2 btn btn-primary" aria-current="true">Сканировать QR-код</a>
        </div>
    </div>
{% endblock %}